nav h1 {
  font-size: 3.6rem;
  line-height: 1.25;
  display: inline-block;
}
nav img {
  vertical-align: text-bottom;
}
nav ul {
  list-style: none;
}
nav button {
  margin: 2px;
}
#subscriptions {
  overflow-x: scroll;
}
img.subscription-icon {
  max-width: 32px;
  max-height: 32px;
  width: 32px;
  height: 32px;
  border-radius: 16px;
}
#subscriptions .column {
  padding: 0;
}